@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

.container {
  width: 100%;
  padding: 0 20px;
  @include mq(1160px) {
    width: $container-md;
    padding: 0;
    margin: 50px auto;
  }
  @include mq(1440px) {
    width: $container-lg;
  }
}
