@use '../abstract/variables' as *;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  background-color: $secondary-bg;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
}
h1 {
  color: $secondary-color;
  font-weight: 300;
  margin-bottom: 15px;
  text-align: center;
}
p {
  margin: auto;
  color: $primary-color;
}
