$primary-bg: #fff;
$secondary-bg: #000435;
$primary-color: #000435;
$secondary-color: #fff;
$container-lg: 1200px;
$container-md: 980px;
$container-sm: 560px;
$size: 260px;
$gradient-1: #f30ab9;
$gradient-2: #0ce680;
$gradient-3: #0c3edf;
$gradient-4: #f5dd07;